<div class="container">
  <h2>Election</h2>
  <p class="lead">Find your electorate to prepare your vote.</p>

  <div class="row row-cols-1 row-cols-md-3">
    <div class="col mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title"><a [routerLink]="['/electorate', 1, 'prepare']">Electorate 1</a></h5>
          <p class="card-text">TODO</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title"><a [routerLink]="['/electorate', 2, 'prepare']">Electorate 2</a></h5>
          <p class="card-text">TODO</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title"><a [routerLink]="['/electorate', 3, 'prepare']">Electorate 3</a></h5>
          <p class="card-text">TODO</p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title"><a [routerLink]="['/electorate', 4, 'prepare']">Electorate 4</a></h5>
          <p class="card-text">TODO</p>
        </div>
      </div>
    </div>
  </div>

</div>
