<div class="container">
  <h2>About</h2>
  <p class="lead">About the website and the legal notices.</p>
  <p class="lead">
    <strong>IMPORTANT: Planning your preferences on this site does not constitute submitting a vote.
      <br>YOU MUST VOTE USING AN OFFICIAL VOTING METHOD.</strong>
  </p>

  <hr>
  <h4 id="purpose">Purpose</h4>
  <p class="lead">Vote Plan provides a place to access information about elections and candidates.</p>
  <p>The website aims to help you prepare your vote before voting day.</p>

  <hr>
  <h4 id="contact">Contact</h4>
  <p class="lead">Let's chat about elections.</p>
  <p>
    Get in touch with the creator of this website on
    <a href="https://twitter.com/cofiem">Twitter</a> or
    <a href="https://github.com/cofiem">Github</a>.
  </p>
  <p>
    If you find a problem with the website, missing or incorrect data, or something else isn't right, please
    <a href="https://github.com/vote-plan/vote-plan/issues">let us know</a>.
  </p>

  <hr>
  <h4 id="feedback">Feedback</h4>
  <p class="lead">Vote Plan welcomes feedback and suggestions.</p>
  <p>All types of feedback are welcome - corrections, feature suggestions, questions, critisisms.</p>
  <p>You can contact the creator of Vote Plan using the methods in the Contact section of this page.</p>

  <hr>
  <h4 id="copyright">Copyright</h4>
  <p class="lead">Vote Plan makes use of publicly available data.</p>
  <p>This site uses content from various sources.</p>
  <p>The data and content is available under the
    <a href="https://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike License</a>,
    unless otherwise noted.
  </p>
  <p>The
    <a href="https://github.com/vote-plan">source code</a>
    is available under the
    <a href="https://github.com/vote-plan/vote-plan/blob/master/LICENSE">MIT License</a>.
    You can also access the
    <a href="https://github.com/vote-plan/vote-plan/tree/master/elections-data">raw election data</a> and
    <a href="https://github.com/vote-plan/vote-plan/tree/master/src/assets">processed election data</a>.
  </p>
  <p>
    If you do use the data, content, or source code, please let me know. I'm interested to collaborate and work with
    other people with similar goals.
  </p>
  <p>View the <a href="/3rdpartylicenses.txt">third party licences</a>.</p>

  <hr>
  <h4 id="privacy">Privacy</h4>
  <p class="lead">Vote Plan stores information about your voting preferences in your browser only.</p>
  <p>No details of the candidates you select are stored outside of your local browser or sent to remote servers, by the
    website creator.</p>
  <p>Please note that browsers may have built-in or add-on functionality that can access webpages and send information
    to remote locations. Vote Plan cannot control this.</p>
  <p>
    Vote Plan is hosted on
    <a href="https://pages.github.com">Github Pages</a>,
    which will have a record of the urls you access.
  </p>
  <p>This website may use local browser storage mechanisms, including but not limited to
    <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Cookies">cookies</a> and
    <a href="https://developer.mozilla.org/en-US/docs/Web/API/Web_Storage_API">local storage</a>.
  </p>
  <p>Vote Plan does not use visitor analytics or similar tracking tools that gather information about website
    visitors.</p>

  <hr>
  <h4 id="terms">Terms of Service</h4>
  <p class="lead">Vote Plan is maintained as a hobby project.</p>
  <p>There are no guarantees of future updates or continuing support.</p>
  <p>Your use of this website and other data, content, or source code from Vote Plan does not create or imply a
    relationship between you and Vote Plan.</p>
  <p>Essentially, this website aims to be useful and helpful, but Vote Plan is maintained in spare time. So, please take
    it easy.</p>

  <hr>
  <h4 id="disclaimer">Disclaimer</h4>
  <p class="lead">
    Vote Plan aims to contain relevant and up-to-date information,
    however some content or links may be out of date or incorrect.
  </p>
  <p>The data, content, and source code on the website is provided "as is", without warranties of any kind, to the extent permitted by law.</p>
  <p>Your use of the information on this website is at your own discretion and risk.</p>
  <p>Please consult the relevant official information about elections to ensure your decisions are based on reliable
    information.</p>
</div>
