<div class="container">
  <h2>About</h2>

  <p class="lead">
    A little about Vote Plan.
  </p>

  <p>View the <a href="/3rdpartylicenses.txt">third party licences</a>.</p>

  <p>This site uses content from Wikipedia and other sources.</p>
  <p>The data and content is available under the
    <a href="https://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike License</a>.
  </p>
  <p>The source code is available under the
    <a href="https://github.com/vote-plan/vote-plan/blob/master/LICENSE">MIT License</a>.
  </p>

  <p>
    Get in touch with me <a href="https://twitter.com/cofiem">on Twitter</a> or <a href="https://github.com/cofiem">Github</a>.
    If you do use the data, content, or source code for other things, please let me know.
  </p>
</div>
