<div *ngIf="electorate$ | async as electorate; else loading">
  <div class="container">
    <h2>
      {{electorate.title}}
      <small class="text-muted">Electorate</small>
    </h2>
    <div class="row">
      <div class="col-lg" *ngIf="{election: election$ | async, assembly: assembly$ | async} as data">
        <p>{{electorate.description}}</p>
        <p>
          A seat in the
          <a [routerLink]="['/assembly', data.assembly.code]">{{ data.assembly.title }}</a>
          for the
          <a [routerLink]="['/election', data.election.code]">{{ data.election.title }} Election</a>.
        </p>
        <p>
          <a [routerLink]="['/vote', electorate.code]">Plan your vote</a>
          for {{ electorate.title }}.
        </p>
      </div>
      <div class="col-lg">
        <form class="form-inline">
          <label class="sr-only" for="displayFilterText">Filter all</label>
          <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <fa-icon [icon]="faSearch"></fa-icon>
              </div>
            </div>
            <input type="text" class="form-control" id="displayFilterText"
                   placeholder="Filter all" #electorateFilter
                   (keyup)="updateFilter(electorateFilter.value)" (blur)="updateFilter(electorateFilter.value)">
          </div>

          <button type="reset" class="btn btn-primary mb-2" (click)="updateFilter('')">Clear</button>
        </form>
      </div>
    </div>
  </div>

  <div class="container-fluid">

    <section *ngIf="{
      candidatesDisplay: candidatesDisplay$ | async,
      candidatesMatches: candidatesMatches$ | async,
      candidates: candidates$ | async
      } as data">
      <h3>
        Candidates
        <small class="text-muted">
          &ndash; showing {{ data.candidatesDisplay.length }} of {{ data.candidatesMatches.length }} matches
          from {{ data.candidates.length }} total
        </small>
      </h3>
      <div class="row mx-1 row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">
        <div class="col mb-4" *ngFor="let candidate of data.candidatesDisplay">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title">
                {{candidate.nameFirst}} <em>{{candidate.nameLast}}</em>
              </h5>
              <p class="card-text">
                {{candidate.description}}
              </p>
              <a [routerLink]="['/candidate', candidate.code]" class="card-link">Candidate</a>
              <a [routerLink]="['/party', candidate.partyCode]" class="card-link">Party</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section *ngIf="{
      partiesDisplay: partiesDisplay$ | async,
      partiesMatches: partiesMatches$ | async,
      parties: parties$ | async
      } as data">
      <h3>
        Parties
        <small class="text-muted">
          &ndash; showing {{ data.partiesDisplay.length }} of {{ data.partiesMatches.length }} matches
          from {{ data.parties.length }} total
        </small>
      </h3>
      <div class="row mx-1 row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">
        <div class="col mb-4" *ngFor="let party of data.partiesDisplay">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title">
                {{party.title}}
              </h5>
              <p class="card-text">
                {{party.description}}
              </p>
              <a [routerLink]="['/party', party.code]" class="card-link">Party</a>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>
</div>


<ng-template #loading let-electorate>
  <div class="container">
    <h2>Electorate</h2>
    <p>Loading...</p>
  </div>
</ng-template>



