<nav class="navbar navbar-expand-md navbar-dark bg-voteplan fixed-top">
  <a class="navbar-brand" routerLink="/">
    Vote Plan
    <fa-icon [icon]="faEdit"></fa-icon>
    <span class="sr-only" [style.display]="navCurrentIsElectionsHome() ? '' : 'none'"
          [hidden]="!navCurrentIsElectionsHome()">(current)</span>
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" (click)="collapsed = !collapsed"
          aria-controls="navbarVotePlan" [attr.aria-expanded]="!collapsed" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class=" navbar-collapse" [class.collapse]="collapsed" id="navbarVotePlan">
    <ul class="navbar-nav mr-auto">
    </ul>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['about']" routerLinkActive="active">
          About <span class="sr-only" [style.display]="navCurrentIsAbout() ? '' : 'none'"
                      [hidden]="!navCurrentIsAbout()">(current)</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
