<div *ngIf="electorate$ | async as electorate; else loading">
  <div class="container">
    <h2>
      Plan Your Vote
      <small class="text-muted">{{electorate.title}}</small>
    </h2>
    <div class="row">
      <div class="col-lg" *ngIf="{election: election$ | async, assembly: assembly$ | async} as data">
        <p>{{electorate.description}}</p>
        <p>
          Plan your vote for the seat of
          <a [routerLink]="['/electorate', electorate.code]">{{ electorate.title }}</a>
          in the
          <a [routerLink]="['/assembly', data.assembly.code]">{{ data.assembly.title }}</a>
          for the
          <a [routerLink]="['/election', data.election.code]">{{ data.election.title }} Election</a>.
        </p>

      </div>
      <div class="col-lg">
        <form class="form-inline">
          <label class="sr-only" for="displayFilterText">Filter candidates</label>
          <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <fa-icon [icon]="faSearch"></fa-icon>
              </div>
            </div>
            <input type="text" class="form-control" id="displayFilterText"
                   placeholder="Filter candidates" #electorateFilter
                   (keyup)="updateFilter(electorateFilter.value)" (blur)="updateFilter(electorateFilter.value)">
          </div>

          <button type="reset" class="btn btn-primary mb-2" (click)="updateFilter('')">Clear</button>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-lg">
        <p>Enter the number '1' in the box next to the candidate who is your first choice,
          and the number '2' in the box next to the candidate who is your second choice,
          then '3', '4', and so on in the boxes next to the other candidates,
          in order of your preference.</p>
        <p>Note: Each election may use a different voting method - please check the voting method before voting.</p>
      </div>
    </div>

    <hr>
  </div>

  <div class="container-fluid">


    <section *ngIf="{
      candidatesDisplay: candidatesDisplay$ | async,
      candidates: candidates$ | async
      } as data">
      <h3>
        Candidates
        <small class="text-muted">
          &ndash; showing {{ data.candidatesDisplay.length }} of {{ data.candidates.length }}
        </small>
      </h3>
      <div class="row mx-1 row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">
        <div class="col mb-4" *ngFor="let candidate of data.candidatesDisplay">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title">
                {{candidate.nameFirst}} <em>{{candidate.nameLast}}</em>
              </h5>
              <p class="card-text">
                {{candidate.description}}
              </p>

              <form class="form-inline card-text">
                <label class="my-1 mr-2" class="sr-only" for="candidatePreference">Preference</label>
                <input type="number" class="form-control mb-2 mr-sm-2"
                       id="candidatePreference" placeholder="Preference" style="width: 120px;"
                       #candidatePreference>
              </form>

              <a [routerLink]="['/candidate', candidate.code]" class="card-link">Candidate</a>
              <a [routerLink]="['/assembly', candidate.assembly]" class="card-link">Assembly</a>
              <a [routerLink]="['/party', candidate.party]" class="card-link">Party</a>
              <a [routerLink]="['/electorate', candidate.electorate]" class="card-link">Electorate</a>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>
</div>


<ng-template #loading let-planyourvote>
  <div class="container">
    <h2>Plan Your Vote</h2>
    <p>Loading...</p>
  </div>
</ng-template>



