<div class="container">
  <h2>News</h2>

  <div class="row row-cols-1">


    <div class="col mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Updates</h5>
          <h6 class="card-subtitle mb-2 text-muted">Posted xx xx 2022</h6>
          <p class="card-text">
            Added election results.
          </p>
        </div>
      </div>
    </div>

    <div class="col mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Updates</h5>
          <h6 class="card-subtitle mb-2 text-muted">Posted 28 March 2020</h6>
          <p class="card-text">
            Updating the web framework and data processing used for the website.
          </p>
        </div>
      </div>
    </div>

    <div class="col mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Internal Updates</h5>
          <h6 class="card-subtitle mb-2 text-muted">Posted 14 February 2020</h6>
          <p class="card-text">
            Updated the libraries used to build the website.
          </p>
        </div>
      </div>
    </div>

    <div class="col mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Added 2020 Queensland Local Government Election data</h5>
          <h6 class="card-subtitle mb-2 text-muted">Posted 8 March 2020</h6>
          <p class="card-text">
            Added 2020 Queensland Local Government Election data from the
            <a href="https://results.elections.qld.gov.au/Events/VoteCardsView?EventID=593&EventType=2">Electoral
              Commission Queensland</a>.
          </p>
        </div>
      </div>
    </div>

    <div class="col mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Second draft of website</h5>
          <h6 class="card-subtitle mb-2 text-muted">Posted 13 Feb 2020</h6>
          <p class="card-text">
            Lots of minor layout and text updates. First basic attempt at the vote plan page.
          </p>
        </div>
      </div>
    </div>

    <div class="col mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">First draft of re-launched website</h5>
          <h6 class="card-subtitle mb-2 text-muted">Posted 7 Feb 2020</h6>
          <p class="card-text">
            Created election, party, assembly, electorate, and candidate detail pages.
          </p>
        </div>
      </div>
    </div>

  </div>
</div>
