<div class="container-fluid" *ngIf="{
      electionsDisplay: electionsDisplayed$ | async,
      elections: elections$ | async
      } as data">

  <div class="jumbotron jumbotron-fluid" style="background-color: unset;">
    <div class="container">
      <h1 class="display-4">Vote Plan</h1>
      <div class="row">
        <div class="col-lg">
          <p class="lead">Plan your vote before voting day.</p>
          <p>Find your election by entering something about it in the text box.</p>
          <p>Showing {{ data.electionsDisplay.length }} of {{ data.elections.length }} elections.</p>
        </div>
        <div class="col-lg">
          <form class="form-inline">
            <label class="sr-only" for="displayFilterText">Filter elections</label>
            <div class="input-group mb-2 mr-sm-2">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <fa-icon [icon]="faSearch"></fa-icon>
                </div>
              </div>
              <input type="text" class="form-control" id="displayFilterText"
                     placeholder="Filter elections" #electionsFilter
                     (keyup)="updateFilter(electionsFilter.value)" (blur)="updateFilter(electionsFilter.value)">
            </div>

            <button type="reset" class="btn btn-primary mb-2" (click)="updateFilter('')">Clear</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row mx-1 row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">

    <div class="col mb-4" *ngFor="let election of data.electionsDisplay">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">
            <img src="/assets/1F1E6-1F1FA.svg" alt="AU" height="24"/>
            {{election.title}}
          </h5>
          <h6 class="card-subtitle mb-2 text-muted">
            Held
            {{getElectionDate(election) | amTimeAgo}} on
            {{getElectionDate(election) | amDateFormat:'ddd, Do MMM YYYY' }}
          </h6>
          <p class="card-text">
            {{election.institution}} of {{ getElectionLocationText(election) }}
            {{election.description}}
          </p>
          <a [routerLink]="['/election', election.code]" class="card-link">Find my candidates</a>
        </div>
      </div>
    </div>

  </div>

</div>
